body {
  font-family: 'Segoe UI', sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  border-radius: 100%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: none;
}

.produto {
  margin: 15px 0;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

#modalProduto {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

#btnAdicionarProduto i {
  font-size: 24px;
}


.produto {
  margin: 15px 0;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.acoes-produto {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.acoes-produto button {
  cursor: pointer;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}


.lote.vermelho { background-color: #ffcccc; }
.lote.rosa { background-color: #ffd9f4; }
.lote.laranja { background-color: #ffe5b4; }
.lote.azul { background-color: #cce5ff; }
.lote {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}
